<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Akit5" publicKeyToken="A70CBA4EF557EE03" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
